<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<script src="/javascripts/application.js"></script>

<span id="video-boulder" class="dropcams-video">
  <div style="max-width: 626px; margin: 40px auto;">
  <embed allowfullscreen="true" allowscriptaccess="always" src="https://www.dropcam.com/e/3528d5cb36b84e81bb35f24a11468088?autoplay=true" type="application/x-shockwave-flash" height="400" width="100%" wmode="opaque">
  </div>
</span>

<a href="#left" onclick="clickLeft()">
  <div class="button left">
    <h1>LEFT</h1>
  </div>
</a>

<a href="#right" onclick="clickRight()">
  <div class="button right">
    <h1>RIGHT</h1>
  </div>
</a>
