<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<script src="/javascripts/application.js"></script>

<a href="#left" onclick="clickLeft()">
  <div class="button left">
    <h1>LEFT</h1>
  </div>
</a>

<a href="#right" onclick="clickRight()">
  <div class="button right">
    <h1>RIGHT</h1>
  </div>
</a>
